{{#ifvalue loggedIn equals= 1}}
    {{> navCreate}}
{{else}}
    {{> nav}}
{{/ifvalue}}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main>


    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center pb-0">

        <div class="container-fluid">


            <div class="overflow-hidden align-content-center" align="center">
                <div class="col-md-8" align="center">
                    <h3 class="fs-sm-5 mb-2" data-zanim-xs='{"duration":"1.5","delay":0}'>Easy, simple. Dispark is
                        an intuitive
                        Software for parks and recreation centers.
                    </h3>
                </div>
            </div>
            <br>
            <div class="overflow-hidden">
                <hr class="hr-short border-black" data-zanim-xs='{"duration":"1.5","delay":0.2}'/>
            </div>

            <p class="lead">Select feature to sort by:</p>


            <div class="sortable" data-options='{"layoutMode":packery"}' align="center">

                <!-- ==================================== -->
                <!-- Sorting Subjects for Masonry======== -->

                <div class="menu mb-3 justify-content-center">
                    <div class="item active" data-filter="*">all</div>
                    <div class="item" data-filter=".pavilions">Pavilions</div>
                    <div class="item" data-filter=".tennis">Tennis Courts</div>
                    <div class="item" data-filter=".baseball">Baseball Fields</div>
                    <div class="item" data-filter=".soccer">Soccer Fields</div>
                    <div class="item" data-filter=".basketball">Basketball Courts</div>
                </div>

                <!-- /Sorting Subjects for Masonry======= -->
                <!-- ==================================== -->


                <div class="sortable" data-options='{"layoutMode":"packery"}'>
                    <div class="col-8 row no-gutters sortable-container sortable-container-gutter-fix hoverdir-grid "
                         data-zanim-timeline="{}" data-zanim-trigger="scroll" align="center">

                        <!-- ============================================-->
                        <!-- Park Cards <section> begin ===============-->

                        {{#each parks}}
                        <!--Park Profile Card-->
                        <div class="col-12 col-md-12 sortable-item p-2 {{#ifvalue pavilions equals= 1}}pavilions{{/ifvalue}} {{#ifvalue tennis equals= 1}}tennis{{/ifvalue}} {{#ifvalue baseball equals= 1}}baseball{{/ifvalue}} {{#ifvalue soccer equals= 1}}soccer{{/ifvalue}} {{#ifvalue basketball equals= 1}}basketball{{/ifvalue}}"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="card-profile">

                                <div class="row card-profile card-profile-content">

                                    <div class="col-6">

                                        <h2 align="left">{{parkName}}</h2>
                                    </div>
                                    <div class="col-6">

                                        <h3 class="" align="left">{{parkAddress}}</h3>
                                    </div>

                                </div>

                                <div class="row card-profile">
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Park Bio</p>


                                        <p class="" align="left">{{parkBio}}</p>


                                    </div>
                                    <div class="col-2 card-profile-content">

                                        <p class="lead" align="left">Features</p>

                                        {{#ifvalue pavilions equals= 1}}<p class="park-feature">Pavilions</p>{{/ifvalue}}
                                        {{#ifvalue tennis equals= 1}}<p class="park-feature">Tennis Courts</p>{{/ifvalue}}
                                        {{#ifvalue baseball equals= 1}}<p class="park-feature">Baseball Fields</p>{{/ifvalue}}
                                        {{#ifvalue soccer equals= 1}}<p class="park-feature">Soccer Fields</p>{{/ifvalue}}
                                        {{#ifvalue basketball equals= 1}}<p class="park-feature">Basketball Courts</p>{{/ifvalue}}

                                    </div>
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Sneak Peek</p>


                                        <div class="col-12" align="center">


                                            <img class="rounded w-100" src="{{../imageFolderPointer}}{{parkImage}}"
                                                 alt=""/>
                                        </div>


                                    </div>




                                </div>

                                {{#ifvalue ../loggedIn equals= 1}}
                                    {{#ifvalue ../userID equals= createdBy}}
                                        <button class="btn btn-secondary mb-3 editPark" data-parkid="{{parkID}}">Edit</button>
                                    {{/ifvalue}}
                                {{/ifvalue}}


                            </div>
                            <br><br>
                        </div>
                        {{/each}}

                        <br><br>
                        <!--<div class="col-12 col-md-12 sortable-item p-2 basketball"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="card-profile">

                                <div class="row card-profile card-profile-content">

                                    <div class="col-6">

                                        <h2 align="left">Park Name</h2>
                                    </div>
                                    <div class="col-6">

                                        <h3 class="" align="left">Park Address</h3>
                                    </div>

                                </div>

                                <div class="row card-profile">
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Park Bio</p>


                                        <p class="" align="left">ut aliquam purus sit amet luctus venenatis lectus magna fringilla
                                            urna porttitor
                                            rhoncus dolor purus non enim praesent elementum facilisis leo vel fringilla est
                                            ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
                                            fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis
                                            mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio
                                            tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu
                                            consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas
                                            fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec
                                            sagittis.</p>


                                    </div>
                                    <div class="col-2 card-profile-content">

                                        <p class="lead" align="left">Features</p>


                                        <p class="park-feature">Basketball Courts</p>


                                    </div>
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Sneak Peek</p>


                                        <div class="col-12" align="center">


                                            <img class="rounded w-100" src="../assets/img/home/Butch-Gore-Park-in-St.-Amant.jpg"
                                                 alt=""/>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <div class="col-12 col-md-12 sortable-item p-2 tennis soccer pavilions"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="card-profile">

                                <div class="row card-profile card-profile-content">

                                    <div class="col-6">

                                        <h2 align="left">Park Name</h2>
                                    </div>
                                    <div class="col-6">

                                        <h3 class="" align="left">Park Address</h3>
                                    </div>

                                </div>

                                <div class="row card-profile">
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Park Bio</p>


                                        <p class="" align="left">ut aliquam purus sit amet luctus venenatis lectus magna fringilla
                                            urna porttitor
                                            rhoncus dolor purus non enim praesent elementum facilisis leo vel fringilla est
                                            ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
                                            fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis
                                            mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio
                                            tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu
                                            consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas
                                            fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec
                                            sagittis.</p>


                                    </div>
                                    <div class="col-2 card-profile-content">

                                        <p class="lead" align="left">Features</p>

                                        <p class="park-feature">Pavilions</p>
                                        <p class="park-feature">Tennis Courts</p>
                                        <p class="park-feature">Soccer Fields</p>

                                    </div>
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Sneak Peek</p>


                                        <div class="col-12" align="center">


                                            <img class="rounded w-100" src="../assets/img/home/Butch-Gore-Park-in-St.-Amant.jpg"
                                                 alt=""/>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <div class="col-12 col-md-12 sortable-item p-2 baseball pavilions"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="card-profile">

                                <div class="row card-profile card-profile-content">

                                    <div class="col-6">

                                        <h2 align="left">Park Name</h2>
                                    </div>
                                    <div class="col-6">

                                        <h3 class="" align="left">Park Address</h3>
                                    </div>

                                </div>

                                <div class="row card-profile">
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Park Bio</p>


                                        <p class="" align="left">ut aliquam purus sit amet luctus venenatis lectus magna fringilla
                                            urna porttitor
                                            rhoncus dolor purus non enim praesent elementum facilisis leo vel fringilla est
                                            ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
                                            fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis
                                            mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio
                                            tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu
                                            consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas
                                            fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec
                                            sagittis.</p>


                                    </div>
                                    <div class="col-2 card-profile-content">

                                        <p class="lead" align="left">Features</p>

                                        <p class="park-feature">Pavilions</p>
                                        <p class="park-feature">Baseball Fields</p>


                                    </div>
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Sneak Peek</p>


                                        <div class="col-12" align="center">


                                            <img class="rounded w-100" src="../assets/img/home/Butch-Gore-Park-in-St.-Amant.jpg"
                                                 alt=""/>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>

                        <div class="col-12 col-md-12 sortable-item p-2 basketball baseball tennis soccer pavilions"
                             data-zanim-xs='{"animation":"zoom-in","delay":0}'>
                            <div class="card-profile">

                                <div class="row card-profile card-profile-content">

                                    <div class="col-6">

                                        <h2 align="left">Park Name</h2>
                                    </div>
                                    <div class="col-6">

                                        <h3 class="" align="left">Park Address</h3>
                                    </div>

                                </div>

                                <div class="row card-profile">
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Park Bio</p>


                                        <p class="" align="left">ut aliquam purus sit amet luctus venenatis lectus magna fringilla
                                            urna porttitor
                                            rhoncus dolor purus non enim praesent elementum facilisis leo vel fringilla est
                                            ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
                                            fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis
                                            mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio
                                            tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu
                                            consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas
                                            fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec
                                            sagittis.</p>


                                    </div>
                                    <div class="col-2 card-profile-content">

                                        <p class="lead" align="left">Features</p>

                                        <p class="park-feature">Pavilions</p>
                                        <p class="park-feature">Baseball Fields</p>
                                        <p class="park-feature">Basketball Courts</p>
                                        <p class="park-feature">Tennis Courts</p>
                                        <p class="park-feature">Soccer Fields</p>

                                    </div>
                                    <div class="col-5 card-profile-content">

                                        <p class="lead" align="left">Sneak Peek</p>


                                        <div class="col-12" align="center">


                                            <img class="rounded w-100" src="../assets/img/home/Butch-Gore-Park-in-St.-Amant.jpg"
                                                 alt=""/>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>-->









                        <!-- Park Cards <section> end =================-->
                        <!-- ============================================-->


                    </div>
                </div>


            </div>

            <!-- Original Small card idea and original big park profile template-->
            <!--<div align="center">

                &lt;!&ndash;=========================&ndash;&gt;
                &lt;!&ndash; Small Card Idea ========&ndash;&gt;
                &lt;!&ndash;
                                <div class="cards col-8" align="center">
                                    <div class="card" data-remodal-target="deansPark">


                                        <div class="thumb1">
                                            <a href="#park"></a>
                                        </div>


                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                        <div class="" align="center">
                                            <a class="btn btn-dark col-6" href="#" data-remodal-target="deansPark">See More</a>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>

                                    <div class="card">
                                        <img class="rounded img-fluid w-100"
                                             src="../assets/img/home/masonry_square_400x400.jpg" alt=""/>
                                        <p class="lead">Park Name</p>
                                        <p class="">Park Address</p>
                                    </div>




                                </div>
                &ndash;&gt;
                &lt;!&ndash; /Small Card Idea =======&ndash;&gt;
                &lt;!&ndash;=========================&ndash;&gt;

                &lt;!&ndash;=========================&ndash;&gt;
                &lt;!&ndash; Big Card Idea ========&ndash;&gt;

                <div class="col-8 card-profile">

                    <div class="row card-profile card-profile-content">

                        <br>
                        <div class="col-6">
                            &lt;!&ndash; Park Name Goes here&ndash;&gt;
                            <h2 align="left">Park Name</h2>
                        </div>
                        <div class="col-6">
                            &lt;!&ndash; Park Address Goes here&ndash;&gt;
                            <h3 class="" align="left">Park Address</h3>
                        </div>


                    </div>
                    <div class="row card-profile">
                        <div class="col-6 card-profile-content">

                            <br>

                            <p class="lead" align="left">Park Bio</p>

                            &lt;!&ndash; Park Description Goes here&ndash;&gt;
                            <p class="" align="left">ut aliquam purus sit amet luctus venenatis lectus magna fringilla
                                urna porttitor
                                rhoncus dolor purus non enim praesent elementum facilisis leo vel fringilla est
                                ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
                                fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis
                                mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio
                                tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu
                                consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas
                                fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec
                                sagittis.</p>
                            <div class="col-8" align="center">

                                &lt;!&ndash; Park Image Goes here&ndash;&gt;
                                <img class="rounded w-100" src="../assets/img/home/Butch-Gore-Park-in-St.-Amant.jpg"
                                     alt=""/>
                            </div>

                        </div>
                        <div class="col-6 card-profile-content">


                            <p class="lead" align="left">Features</p>
                            <div class="calendar">
                                <div class="month">
                                    <ul>
                                        <li class="prev">&#10094;</li>
                                        <li class="next">&#10095;</li>
                                        <li>
                                            December<br>
                                            <span style="font-size:18px">2020</span>
                                        </li>
                                    </ul>
                                </div>

                                <ul class="weekdays">
                                    <li>Sun</li>
                                    <li>Mon</li>
                                    <li>Tue</li>
                                    <li>Wed</li>
                                    <li>Thu</li>
                                    <li>Fri</li>
                                    <li>Sat</li>
                                </ul>

                                <ul class="days">
                                    <li></li>
                                    <li></li>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                    <li>9</li>
                                    <li>10</li>
                                    <li><span class="active">11</span></li>
                                    <li>12</li>
                                    <li>13</li>
                                    <li>14</li>
                                    <li>15</li>
                                    <li>16</li>
                                    <li>17</li>
                                    <li>18</li>
                                    <li>19</li>
                                    <li>20</li>
                                    <li>21</li>
                                    <li>22</li>
                                    <li>23</li>
                                    <li>24</li>
                                    <li>25</li>
                                    <li>26</li>
                                    <li>27</li>
                                    <li>28</li>
                                    <li>29</li>
                                    <li>30</li>
                                    <li>31</li>
                                    <li></li>
                                    <li></li>
                                </ul>


                            </div>


                        </div>
                    </div>
                </div>
                <br><br>


                &lt;!&ndash; /Big Card Idea =======&ndash;&gt;
                &lt;!&ndash;=========================&ndash;&gt;


            </div>-->

        </div>

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    {{>footer}}


<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->




